<!-- components/footer.html -->
<footer class="modern-footer">
  <div class="footer-container">
    <div class="footer-logo">
      <h2>CitySprint Cabs</h2>
      <p>Reliable | Affordable | On-Time</p>
    </div>

    <div class="footer-links">
      <div>
        <h4>Quick Links</h4>
        <ul>
          <li><a href="../index/index.html">Home</a></li>
          <li><a href="../about/about.html">About</a></li>
          <li><a href="../services/services.html">Services</a></li>
          <li><a href="../gallery/gallery.html">Gallery</a></li>
          <li><a href="../testimonials/testimonials.html">Testimonials</a></li>
          <li><a href="../contact/contact.html">Contact</a></li>


        </ul>
      </div>
      <div>
        <h4>Support</h4>
        <ul>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>
      <div>
        <h4>Contact</h4>
        <ul>
          <li><i class="ri-phone-line"></i> +91-9152489191</li>
          <li><i class="ri-mail-line"></i> citysprintcabs@gmail.com</li>
          <li><i class="ri-map-pin-line"></i> Mumbai, Maharashtra</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 CitySprint Cabs. All rights reserved.</p>
  </div>
</footer>
